.about {
  padding: 6rem 0;
  width: 100%;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
  width: 100%;
  max-width: 1200px;
  /* background-color: #f9f9ff; */
}

.about-content.animate {
  opacity: 1;
  transform: translateY(0);
}

.about-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
}

.about-profile-img {
  /* box-shadow: var(--box-shadow); */
  margin: 0 auto;
}

.about-context {
  display: flex;
  flex-direction: column;
  height: 100%;

}
.about-text {
  background-color: var(--light-color);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: var(--border-radius);
}

.about-text h3 {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  color: var(--dark-color);
}

.about-text p {
  margin-bottom: 1.5rem;
  color: var(--text-light);
  line-height: 1.7;
}

.about-box-desktop {
  display: block;
  width: 100%;
  position: relative;
}

.about-box-desktop .about-contact {
  position: sticky;
  top: 100px;
  width: 100%;
}

.about-box-mobile {
  display: none;
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .about-content {
    grid-template-columns: 1fr;
  }
  
  .about-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .image-container {
    max-width: 300px;
  }

  .about-box-desktop {
    display: none;
  }
  
  .about-box-mobile {
    display: block;
    width: 70%;
    margin: 0 auto;
    position: relative;
  }
  
  .about-box-mobile .about-contact {
    position: sticky;
    top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding: 4rem 0;
  }

  .about-box-mobile .about-contact {
    position: static;
    width: 100%;
  }
} 