.contact-box {
  background-color: var(--light-color);
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: 100%;
  width: 100%;
}


.detail {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  background-color: var(--light-color);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  position: relative;
}

.detail i {
  color: var(--primary-color);
  margin-right: 0.5rem;
}

.detail:hover {
  box-shadow: var(--box-light-shadow) ;
}

.copy-icon {
  position: absolute;
  right: 10px;
  opacity: 0;
  transition: opacity 0.2s ease;
  color: var(--primary-color);
}

.detail:hover .copy-icon {
  opacity: 1;
}

.copied-text {
  margin-left: 10px;
  color: var(--primary-color);
  transition: opacity 0.2s ease;
}

@media screen and (max-width: 768px) {
  .contact-box {
    width: 100%;
    max-width: 100%;
  }
  
  .detail {
    width: 100%;
  }
} 