#hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.hero-container {
  min-height: 100%;
  transition: all 0.5s ease-out;
  z-index: 10;
  /*background: rgba(222, 222, 222, 0.1);*/
  /*backdrop-filter: blur(10px);*/
}

/* .hero-content {
  text-align: left;
} */

.hero-title-sub {
  font-size: 1.7rem;
  font-weight: 400;
  position: relative;
  /* margin-bottom: 1.5rem; */
}

.hero-title {
  font-size: 4.5rem;
  color: var(--dark-color);
  font-weight: 900;
  letter-spacing: 0.1em;
  /* text-align: center; */
}

.hero-subtitle {
  font-size: 2.5rem;
  font-weight: 400;
  position: relative;
  margin-bottom: 1.5rem;
  /* text-align: center; */
}

.hero .bnt-tabs {
  justify-content: center;
  margin-bottom: 3rem;
}

/* Container for the stack with scrollbar masking */
.hero-stack-container {
  position: relative;
  top: 50px;
  max-width: 60vw;
  height: 140px;
  margin: 0 auto;
  margin-top: 120px;
}

/* Icon style */
.stack-icon {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  padding: 0 15px;
  opacity: 0.8;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.stack-icon img {
  object-fit: contain;
}

.stack-icon:hover {
  transform: scale(1.2);
  opacity: 1;
  filter: grayscale(0%);
  z-index: 1000;
}

/* Tooltips style */
.stack-icon::after {
  content: attr(data-tooltip);
  position: absolute;
  z-index: 1202;
  bottom: -50px;
  left: 15%;
  /* transform: translateX(-50%); */
  background: var(--dark-color);
  color: var(--light-color);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  pointer-events: none;
}

.stack-icon:hover::after {
  opacity: 1;
  visibility: visible;
  bottom: -30px;
}

/* Animation de défilement */
@keyframes scrollStack {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 3rem;
  }

  .hero-subtitle {
    font-size: 1.6rem;
  }

  .hero-stack-container {
    max-width: 90vw;
    top: 0;
  }
  .hero-stack-container {
    margin-top: 70px;
  }
}
