.skills-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-content {
  /* background-color: var(--light-color); */
  transition: all 0.5s ease;
  border-radius: var(--border-radius);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}


.skills-description {
  /* max-width: 800px; */
  margin: 0 auto 2rem;
  text-align: center;
}

.skills-description p {
  color: var(--text-light);
  line-height: 1.7;
}

/* Tab Content */
.skills-tab-content {
  width: 100%;
}

.skills-category {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: var(--light-color);
  border-radius: var(--border-radius);
  padding: 2rem;
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease;
  animation: fadeIn 0.5s ease;
}

/* Skill Items */
.skill-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: var(--light-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skill-item:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow-hover);
}

.skill-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.skill-icon i {
  font-size: 2rem;
  transition: transform 0.3s ease;
}

/* Styles pour les images personnalisées */
.skill-icon .custom-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.skill-item:hover .skill-icon i,
.skill-item:hover .skill-icon .custom-icon {
  transform: scale(1.1);
}

.skill-info {
  display: flex;
  flex-direction: column;
}

.skill-name {
  font-weight: 500;
  color: var(--dark-color);
}

@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
  }
} 