.social-button {
  position: fixed;
  top: 0.3rem;
  right: 2rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  transition: transform 0.3s ease;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.social-icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* background: var(--light-color, #fff); */
  color: var(--dark-color, #222);
  font-size: 2rem;
  transition: all 0.3s ease;
}

.social-icon:hover {
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .social-button {
    display: none;
  }
}
