#app-store {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  position: relative;
  /* z-index: 22; */
}

.card {
  position: relative;
  /* height: 420px; */
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: all 0.3s ease;
  /* will-change: transform, opacity, z-index, box-shadow; */
  transform-origin: center center;
  flex: 0 0 calc(50% - 15px);
  overflow: hidden;
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-image-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  user-select: none;
  pointer-events: none;
}

.card:hover:not(.selected) .card-image {
  transform: scale(1.05);
}

.card:hover:not(.selected) {
  transform: translateY(-5px);
}

.expanded-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--light-color);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease, bottom 0.3s ease;
  position: absolute;
  bottom: -3rem;
  left: 0;
  right: 0;
  background: var(--dark-color-transparent);
  backdrop-filter: var(--blur-6);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  pointer-events: none;
  padding: 10px;
}

.expanded-description.visible {
  bottom: -2px;
  display: flex;
  opacity: 1;
  max-height: 300px;
  transition-delay: 0.1s;
  pointer-events: auto;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
}

.tech-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: var(--border-radius);
}

/* Styles pour l'overlay */
.gallery-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 400;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  pointer-events: none;
}

.gallery-overlay.visible {
  opacity: 1;
  pointer-events: auto;
}

.gallery-overlay.hiding {
  opacity: 0;
  pointer-events: none;
}

/* Responsive */
@media (max-width: 768px) {
  .card-list {
    /* Utiliser flex-direction à la place pour les écrans mobiles */
    flex-direction: column;
  }
  
  .card {
    flex: 0 0 100% !important;
    /* max-width: 100%; */
    /* height: 380px; */
  }
  
  .section-title {
    font-size: 28px;
  }
  
  .selected {
    max-width: 100%;
    max-height: 100vh;
  }
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.card.selected .card-image {
  pointer-events: auto !important;
}
