.gallery-content {
  min-height: 100vh;
}

.gallery-content.animate .card {
  opacity: 1;
  transform: translateY(0);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  gap: 20px;
}

.card {
  box-sizing: border-box;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: var(--box-med-shadow);
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  flex: 0 0 calc(50.3% - 15px);
  max-height: 320px;
  max-width: 600px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease;
}

.card.selected img {
  object-fit: cover;
  object-position: top;
}

.card.selected {
  border-radius: var(--border-radius) !important;
  transition: all 0.3s ease !important;
  transition-delay: 0s !important;
}

.card.selected .card-image {
  pointer-events: auto !important;
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-image-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
  user-select: none;
  pointer-events: none;
}

.card-image:not(.loaded) {
  filter: blur(10px);
  transform: scale(1.1);
}

.card-image.loaded,
.video-wrapper .card-image {
  filter: blur(0);
  transform: scale(1);
}
.video-wrapper .card-image {
  transition: all 0.3s ease;
}

/* .card:hover:not(.selected) {
  transform: translateY(-5px);
} */

.card-description {
  font-size: 12px;
  color: var(--light-color);
}

/* Désactiver les effets de scale/hover sur mobile */
@media (max-width: 768px) {
  .card {
    max-height: 260px;
  }

  .card:hover:not(.selected) .card-image {
    transform: scale(1);
  }

  .card:hover:not(.selected) {
    transform: translateY(0);
  }
}

.expanded-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--light-color);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease, bottom 0.3s ease;
  position: absolute;
  bottom: -3rem;
  left: 0;
  right: 0;
  background: var(--dark-color-transparent);
  backdrop-filter: var(--blur-6);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  pointer-events: none;
  padding: 10px;
}

.expanded-description h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 12px;
}

.expanded-description.visible {
  bottom: -2px;
  display: flex;
  opacity: 1;
  max-height: 300px;
  transition-delay: 0.1s;
  pointer-events: auto;
}

.card.selected .expanded-description {
  font-size: 14px;
}

.expanded-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.right-content {
  display: flex;
  flex-direction: column;
  min-width: 130px;
  gap: 10px;
}

.right-content .bnt-tab {
  border-radius: 4px !important;
  font-size: 12px !important;
  transform: none !important;
  border: none !important;
  padding: 6px !important
}

.right-content .bnt-tab a {
  color: var(--light-color) !important;
}

.tech-stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
}

.tech-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: var(--light-color-transparent);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-top: 10px;
}

.tech-icon:hover {
  transform: translateY(-3px);
  background: var(--light-color);
  z-index: 1100;
}

/* Styles pour les tooltips */
.tech-icon::after {
  content: attr(data-tooltip);
  position: absolute;
  z-index: 1202;
  bottom: -30px;
  left: 100%;
  /* transform: translateX(-50%); */
  background: var(--dark-color);
  color: var(--light-color);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 10px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  pointer-events: none;
}

.tech-icon:hover::after {
  opacity: 1;
  visibility: visible;
  bottom: 0px;
}


/* Styles pour l'overlay */
.gallery-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: var(--blur-6);
  z-index: 850;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  pointer-events: none;
}

.gallery-overlay.visible {
  opacity: 1;
  pointer-events: auto;
}

.gallery-overlay.hiding {
  opacity: 0;
  pointer-events: none;
}


.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform: scale(1) !important;
}




/* Responsive */
@media (max-width: 768px) {
  .card-list {
    /* Utiliser flex-direction à la place pour les écrans mobiles */
    flex-direction: column;
  }

  .card-image-container {
    /* flex: 0 0 100% !important; */
    /* max-width: 100%; */
    height: 220px;
  }

  /* .section-title {
    font-size: 28px;
  } */

  /* .gallery-overlay {
    display: none;
  } */

  .selected {
    width: 100% !important;
    height: 100vh !important;
  }
}

/* Animation pour l'apparition des cartes */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
